extends layout

block bodycontent

  body
    h1(class='text-center') Logged out ...
    p(class='text-center')
      a(href='/login' class='text-center') Need to log in again?
























